.sectionStatistic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.statistics-section {
    background: #333;
    max-width: 500px;
    width: 100%;
}

.statistics-section h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

.statistics-section p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
}

.statistics-section p span {
    font-weight: bold;
    color: #fff;
}

@media (max-width: 768px){

    .statistics-section h3{
        font-size: 20px;
    }
    .statistics-section p{
        font-size: 15px;
    }

}