.accountsSection {
    margin-top: 10px;
}

.accountsSection-butMenu {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.accountsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.accountItem {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.accountItem-name{
    font-size: 1.4em;
}

.accountsList-groupBut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.accountsList-groupBut button{
    width: 100%;
}
.accountItem-imgAndName{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}
/* Основной стиль для модального окна */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.modal-content input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.modal-content input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal-content-butGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.modal-button {
    align-self: flex-end;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #0056b3;
}

.form-content{
    align-items: center;
    justify-content: center;
}