.accountsSection {
    margin-top: 10px;
}

.accountsSection-butMenu {
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.modal-content-butGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.accountsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.accountItem {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.accountItem-name{
    font-size: 1.4em;
}

.accountsList-groupBut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.accountsList-groupBut button{
    width: 100%;
}