.App-main-contents-group-date h1,p{
    padding: 0px;
    margin: 0px;
  }
  .App-main-contents-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  