
.tasks {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tasks-butGroup{
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.tasks-task{
    background-color: #333;
    border-radius: 15px;
    padding: 15px;
}