.transactions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
}

.transactions-table th,
.transactions-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.transactions-table th {
    background-color: #f2f2f2;
}

.transactions-butGroup {
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.transactions-button {
    display: flex;
    flex-direction: column;
}

.pagination {
    display: inline-block;
    display: flex;
    margin-top: 10px;
    /* Примерный отступ сверху */
    align-items: center;
    justify-content: center;
    user-select: none;
    /* Предотвращение выделения текста */
  }
  
  .pagination li a {
    display: block;
      width: inherit;
      height: inherit;
      padding: 5px 10px;
  }
  .pagination li {
    display: inline-block;
    margin-right: 5px;
    /* Примерный отступ между элементами */
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
  }
  
  .pagination li.active {
    background-color: #007bff;
    /* Цвет активной страницы */
    color: #fff;
  }
  
  .pagination li:hover {
    background-color: #f0f0f0;
    /* Цвет при наведении */
  }
