
.sectionGraphicLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #333;
}

@media (max-width: 768px) {

    .sectionGraphicLine{
        width: auto;
        height: auto;
        /* Увеличил высоту, чтобы график был лучше виден */
        align-items: flex-start;
        overflow: hidden;
        overflow-x: auto;
    }
    .sectionGraphicLine h2{
        padding-top: 20px;
    }
}